/* CSS RESET */
  
*, *::before, *::after {
  box-sizing: border-box;
}
  
* {
  margin: 0;
  text-decoration: none;
}
  
html, body {
  height: 100%;
}
  
body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
}
  
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
  
input, button, textarea, select {
  font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
  
/* Site CSS Code */

html, 
#root, 
body {
  height: 100%;
}

body {
  background-color: #000;
}

/* App */

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: url('./assets/ellipsebg2.svg');
  background-size: cover;
}

/* Navigation */

nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
}

nav>ul {
  width: 65vw;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navbar__link {
  display: inline-block;
  color: #4B4B4B;
  font-weight: 700;
  font-size: clamp(1.00rem, calc(-0.23rem + 1.44vw), 1.50rem);
  transition: transform 300ms, color 300ms;
}

.navbar__link:hover {
  color: #C67272;
  transform: scale(1.05);
}

.navbar__link.active {
  color: #C67272;
}

.connect-wallet__button {
  position: absolute !important;
  right: 3vh !important;
  top: 1.5vh !important;
  background-color: #00000000 !important;
  color: #ffffff !important;
  border: 2px solid #4B4B4B !important;
  border-radius: 5px !important;
  padding-left: 1vw !important;
  padding-right: 1vw !important;
}

.tw-connected-wallet {
  top: .75vh !important;
}

.tw-connected-wallet__address {
  color: #fff !important;
}


/* Home */

section.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home__main-logo {
  margin-left: 6vw;
  width: 42vw;
}

/* Token Management */

section.token-management {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.token-management__grid {
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 5vw;
  row-gap: 2vh;
  height: 19vh;
  color: #fff;
}

.token-management-options__title{
  grid-row: 1 / 2;
  font-size: clamp(1.50rem, calc(-0.22rem + 2.01vw), 3.00rem);
}
.token-management-options__text{
  grid-row: 2 / 3;
  width: 90%;
  text-align: center;
  font-size: clamp(0.75rem, calc(0.13rem + 0.72vw), 1.00rem);
}
.token-management-options__button {
  grid-row: 3 / 4;
  height: 6vh;
  width: 14vw;
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: rgba(70, 70, 70, 0.6);
  backdrop-filter: blur(5px);
  color: #fff;
  font-size: clamp(1.50rem, calc(-0.97rem + 2.89vw), 2.50rem);
  cursor: pointer;
  transition: scale 200ms, background-color 200ms;
}

.token-management-options__button:not(.disabled):hover {
  background-color: rgba(70, 70, 70, 0.8);
  scale: 1.1;
}

.token-management-options__button:not(.disabled):active {
  background-color: rgba(70, 70, 70, 0.8);
  scale: 1;
}

.token-management-options__button.disabled {
  color: #ffffff30;
  cursor: not-allowed;
}

/* NFT Mint Modal */

.nft-mint-modal__overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  padding: 10px;
  border-radius: 25px;
  box-shadow: inset 3px 3px 5px rgb(255, 255, 255, 0.1),
    inset -3px -3px 5px rgb(255, 255, 255, 0.1),
    5px 5px 8px rgb(0, 0, 0, 0.3);
  z-index: 99;
}

.nft-mint-modal__flex {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
  width: 32vw;
  height: 22vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2vw;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border: 3px solid #C67272;
  border-radius: 15px;
  z-index: 100;
}

.nft-mint-modal__top-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-text__line-one{
  font-size: clamp(1.50rem, calc(-0.22rem + 2.01vw), 3.00rem);
  font-weight: 700;
}

.top-text__line-two{
  font-size: clamp(1.25rem, calc(0.11rem + 1.34vw), 2.25rem);
}

.nft-mint-modal__input-flex {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.nft-mint-modal__input-flex > label {
  font-size: clamp(1.25rem, calc(0.11rem + 1.34vw), 2.25rem);
}

.nft-mint-modal__input-flex > input {
  font-size: 2rem;
  height: 1.5vw;
  width: 4vw;
}

.nft-mint-modal__cost-text {
  font-size: clamp(0.63rem, calc(-0.09rem + 0.84vw), 1.25rem);
  text-align: center;
}

.nft-mint-modal__cost-text > span {
  font-size: clamp(1.13rem, calc(0.41rem + 0.84vw), 1.75rem);
}

.nft-mint-modal__mint-button {
  width: 10vw;
  height: 2.5vw;
  font-size: clamp(0.63rem, calc(-0.09rem + 0.84vw), 1.25rem);
  border: none;
  border-radius: 50px;
  background-color: #D9D9D9;
  color: #000;
  cursor: pointer;
  transition: scale 200ms;
}

.nft-mint-modal__mint-button:hover {
  scale: 1.1;

}
.nft-mint-modal__mint-button:active {
  scale: 1;
}

.nft-mint-modal__close-x {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  top: -0.1vw;
  right: -0.1vw;
  font-size: 2rem;
  color: #fff;
  border: 3px solid #C67272;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
}

/* Slide-Out Modal */

.slide-out-modal__flex {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 20%;
  right: 0;
  height: 75px;
  width: 0px;
  background-color: #C6909060;
  color: #ffffff00;
  transition: width 500ms, color 400ms 400ms;
}

.slide-out-modal__flex.closed {
  /* right: -13vw; */
  
}

.slide-out-modal__flex.open {
  /* right: 0; */
  width: 300px;
  color: #fff;
}



/* Media Queries */

@media (max-width: 1920px ) {
  .connect-wallet__button {
    scale: .75 !important;
    top: 1.25vh !important;
  }

  .tw-connected-wallet {
    top: 0 !important;
  }
}

@media (max-width: 1440px ) {
  .connect-wallet__button {
    scale: .65 !important;
    top: .5vh !important;
  }

  .tw-connected-wallet {
    top: -1vh !important;
  }

  
}